body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.hover:hover {
    color: orange;
}

#sidebar-wrapper {
    margin-left: 20px;
}

#checkboxKontakt {
    margin-left: 20%;
}

#kontaktTable {
    margin-top: 1%;
}

#meninyBody {
    height: 100vh;
}

#counterVisitor {
    top: 96%;
    position: absolute;
}

.overflow {
    overflow: visible;
}

.scrollable {
    max-height: 90vh;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}