body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    width: 100%;
    min-height: 100%;
}

.hover:hover {
    color: orange;
}

#sidebar-wrapper {
    margin-left: 20px;
}

#checkboxKontakt {
    margin-left: 20%;
}

#kontaktTable {
    margin-top: 1%;
}

#overflowBody {
    overflow: visible;
}